body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

.articles {
    background-color: azure;
    padding: 15px;
}

.footer {
    padding-top: 10px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: #333;
    color: #fff;
    bottom: 0;
    position: absolute;
}